html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;box-sizing:border-box;overflow-x:hidden}

article,aside,details,figcaption,figure,footer,header,main,menu,nav,navbar,section{ display: block; }
/* *:after{box-sizing:inherit} */

*:{box-sizing: content-box;}
#header
{
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 3;
  overflow: auto
}


body{margin:0;padding-left: 5; padding-right: 5;font-family:Verdana,sans-serif,Helvetica;font-size:100%;line-height:1.7}

summary{display:block}

template{display:none}

a{color: #222;text-decoration:none;border-bottom: 1px dotted}
a:active,
a:visited { color: #000}
a:hover{background-color: #C5CCE1
/* color: #ffffff */
}

small{font-size:70%}
sub,sup{font-size:55%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}
figure{margin:1em 40px}
img{border-style:none}

hr{border-width: 1px 0px 0px 0px; border-style: dotted; border-color: gray; height: 1px; text-align: center; overflow:visible}

textarea{overflow:auto}




  /* h1 {
    font-size:45px;
    text-align: center;
    border-bottom:1px solid gray;
    margin:0;
    padding:20px;
  } */


/* start for top nav */
/*
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 15px;
}
*/
label {
    cursor: default;
      }
/* End for top nav */

.widthController {
  color: white;
  background-color: black;
  padding: 0 30px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .widthController:before, .widthController:after {
    content: "";
    display: table; }
  .widthController:after {
    clear: both; }
  .widthController.standard {
    width: 100%;
    max-width: 1200px; }
  .widthController.full {
    width: 100%;
    padding: 30px 0; }

#categoryNavWrap {
  position: relative;
  border-bottom: 1px solid #eeeeee; }
  #categoryNavWrap:before, #categoryNavWrap:after {
    content: "";
    display: table; }
  #categoryNavWrap:after {
    clear: both; }
  #categoryNavWrap .widthController {
    padding: 0 0 10px; }
  #categoryNavWrap nav#main {
    padding: 0 10px; }
    #categoryNavWrap nav#main a {
      color: white;
      background-color: black;
      display: inline-block;
      padding: 10px 0;
      margin: 0 15px;
      font-size: 15px;
      font-weight: 600;
      text-transform: uppercase;
      /* font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, sans-serif; */
      font-weight: 500;
      font-style: "normal";
      text-decoration: none;
      position: relative;
      top: 1px;
      -webkit-transition: all 100ms ease-in-out;
      -moz-transition: all 100ms ease-in-out;
      -ms-transition: all 100ms ease-in-out;
      -o-transition: all 100ms ease-in-out;
      transition: all 100ms ease-in-out; }
      #categoryNavWrap nav#main a:hover {
        border-top-color: #0669be;
        color: #0669be; }
      #categoryNavWrap nav#main a.active {
        border-bottom: 1px solid #0669be;
        color: #0669be; }
      #categoryNavWrap nav#main a.social {
        margin: 0 5px;
        font-size: 10px;
        position: relative;
        top: 3px; }
  #categoryNavWrap #mobileNavWrap nav#mobileNav {
    height: 0;
    overflow: hidden; }
  #categoryNavWrap #mobileNavWrap .show-menu {
    text-decoration: none;
    font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, sans-serif;
    font-weight: 400;
    font-style: "normal";
    font-size: 15px;
    text-transform: uppercase;
    color: white; /*#232f31;*/
    background-color: black;
    float: none;    /* SY*/
    line-height: 40px;
    padding: 0 30px 0 30px;
    display: none; }
    #categoryNavWrap #mobileNavWrap .show-menu:hover {
      cursor: pointer; }
  #categoryNavWrap #mobileNavWrap input[type=checkbox] {
    display: none; }
  #categoryNavWrap #mobileNavWrap input[type=checkbox]:checked ~ nav#mobileNav {
    height: 400px; }
  #categoryNavWrap #mobileNavWrap nav#mobileNav {
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    color: #232f31;
    position: absolute;
    width: 100%;
    top: 40px;
    z-index: +1000; }
    #categoryNavWrap #mobileNavWrap nav#mobileNav a {
      color: #FFF;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      background-color: rgba(0, 0, 0, 0.8);
      display: block;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 15px 30px;
      text-align: center;
      /* font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, sans-serif; */
      font-weight: 400;
      font-style: "normal";
      font-size: 13px;
      text-transform: uppercase;
      width: 100%;
      text-decoration: none; }
      #categoryNavWrap #mobileNavWrap nav#mobileNav a:hover {
        background-color: #FFF;
        color: #0669be; }
  /* #categoryNavWrap #mobileNavWrap .search {
    float: right;
    padding: 0 30px 0 0; } */

@media screen and (max-width: 850px) {
  #categoryNavWrap nav#main {
    display: none; }
  #categoryNavWrap #mobileNavWrap .show-menu {
    display: block; } }



  /* ol{
    border-right:1px solid gray;
    width:100px;
    margin:0;
    padding:20px;
  } */

  /* #grid{
    display: grid;
    grid-template-columns: 1fr;
  }
  #grid ol{
    padding-left:33px;
    list-style-type: disc;
  }


  #grid #article{
    padding-left:15px;
  }

  @media (max-width:600px) {
    #grid{
      display: block;
      }
      /* ol{
        display: none;
      } */


  @media (max-width:800px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }

  @media (max-width:800px) {
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }



h1{font-size:36px; border-bottom:2px solid gray; padding:20px;}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.w3-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.w3-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
h1 {font-weight: normal;
    }
h2
{
  padding-top:180px;
  margin-top:-180px;
}

.bg {
  background-image: -webkit-linear-gradient(270deg, rgba(31,69,143,1), rgba(138,188,247,0.7));
  padding: 10px 10px 10px 10px;
  /* background-color: transparent; */
}
